*.swp
*.swo
*.o
*~
*.lock
*.DS_Store
*.out
*.pyc
*.obj
*.dll
*.exe
*.tlog
*.pdb
*.db
*.log
*.idb
*.ilk
*.clb
*.a
*.hmap
*.dia
*.d
*.dat
*.save
*.user
*.depend
*.layout
*.m4v
*conflicted*
*.avi
*.mp4
*.jpg
*.png
*.make
*.bin
*.pgm
*.raw
*.cbp

*CMakeCache.txt
*CMakeFiles
*Makefile
*cmake_install.cmake
*install_manifest.txt

/bin/
/build/
/lib/
